* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;

  /*text-align: center; causes shift in alignment to the frame of the close button in displayData component*/

  background-color: #fff;
}
@font-face {
  font-family: "Gingham";

  src: url("./Gingham/Gingham.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');





.footer {
  text-align:center;
}
.titlePage {
 font-family:  'Montserrat', sans-serif;
  
  font-stretch: wider;
  position: absolute;
  color:white;
  
  left:40%;
  font-size:3vw;

  
}

.image-container {


  position: relative;

}

.image-resize {
  width: 100%; /*arrow buttons must be relative to image*/
}
.search_box {
  position: absolute;
  left: 50%;
  top: 20%;
  height: 7%;
  width: 30%;

  background: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 5px;
}
.search_txt {
  color: white;
  font-size: 2vw;
  text-align: left;

  transition: 0.4s;
  background: none;
  outline: none;
  border: none;
font-family:'Roboto', sans-serif ;
padding-top: 2%;
padding-left: 2px;
}
.search-btn {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  float: right;
  overflow: hidden;
  padding-right: 20px;
  position: relative;
}

.search-btn:hover {
  cursor: pointer;
}


.navBar {
  width: 100px;

  height: 100px;
  transition: 0.5s;
  box-shadow: -2px -2px 0 rbga(255, 255, 255, 0.5);
}

.leftButton,
.rightButton {
  width: 100px;
  height: 100px;
  transition: 0.5s;

  top: 50%;

  box-shadow: -2px -2px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
}
.leftButton {
  transform: rotate(-45deg);
  left: 20px;
}
.rightButton {
  transform: rotate(145deg);

  right: 20px;
}
.rightButton:hover,
.leftButton:hover {
  box-shadow: -2px -2px 0 rgba(255, 255, 255, 1);
}

.infoIconContainer {
  width: 50%;

  top: 10%;

  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: left;
}
ul {
  list-style: none;
  position: absolute;
}

ul li {
  border-radius: 50%;
  color: white;

  opacity: 0.8;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
ul li ul li {
  display: none;
  border-radius: 0%;
}
ul li:hover ul li {
  display: block;
}

.questionMark {
  width: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border: none; /*2px solid black*/
  text-align: center;
}
.displayBoxContainer {
  position: absolute;
  top: 40%;
  margin: 0 auto;
  left: 30%;
  width: 40%;
  display: block;
}
.displayText {
  color: white;
}

.displayBox {
  /* use this for box z-index: 100;  */
  position: relative;
  margin: 0 auto;
  height: 50%;
  padding: 20px;
  background: rgb(34, 34, 34); /* for IE */
  background: rgba(34, 34, 34, 0.75);
}

.displayBox:before {
  filter: blur(4px);
}

.close-btn-Frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /*80px;*/
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid #fff;
}
.close-btn-Frame:hover {
  background: red;
}
.close-btn {
  width: 40px;
  height: 2px;
  /* background: #fff;*/
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.close-btn::before {
  transform: translateY(-8px);

  transform: rotate(45deg);
}
.close-btn::after {
  transform: translateY(8px);
  transform: rotate(-45deg);
}


.weather-description{
  color:white;
  font-family: 'Roboto', sans-serif;
 


}
.resetBoxContainer {
  display: none;
}
@media (max-width: 1000px) {
  .leftButton,
  .rightButton {
    height: 5%;
    width: 3%;
  }
}
