* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;

  text-align: center;

  background-color: #fff;
}
@font-face {
  font-family: "Gingham";

  src: url("./Gingham/Gingham.woff2") format("woff2");
}

.column-1 {
}
.column-2 {
}
.titlePage {
  font-family: "Gingham";
  font-variation-settings: "wght" 300, "wdth" 150;
  text-align: center;
  font-stretch: wider;
}

.image-container {
  /*border: 2px solid red;*/
  padding-top: 30px;
  overflow: hidden;

  padding-bottom: 37px;
}

.image-resize {
  width: 100%; /*arrow buttons must be relative to image*/
}
.search_box {
  position: absolute;
  left: 50%;
  top: 20%;
  height: 50px;
  width: 500px;
  color: white;
  font-size: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.search-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 70%;
  /*right: 600px;  have icon stay relative to search bar growth or size*/
}

.navBar {
  width: 100px;

  height: 100px;
  transition: 0.5s;
  box-shadow: -2px -2px 0 rbga(255, 255, 255, 0.5);
}

.leftButton,
.rightButton {
  width: 100px;
  height: 100px;
  transition: 0.5s;

  top: 500px;

  box-shadow: -2px -2px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
}
.leftButton {
  transform: rotate(-45deg);
  left: 20px;
}
.rightButton {
  transform: rotate(145deg);

  right: 20px;
}
.rightButton:hover,
.leftButton:hover {
  box-shadow: -2px -2px 0 rgba(255, 255, 255, 1);
}

.verticalBarContainer {
  position: absolute;
  width: 10%;
  top: 20%;
  left: 29%;

  transform: translate(-50%, -50%);
}
ul {
  list-style: none;
}

ul li {
  background: rgba(0, 0, 0, 0.1);
  color: white;

  opacity: 0.8;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
ul li ul li {
  display: none;
}
ul li:hover ul li {
  display: block;
}
.displayBoxContainer {
  position: absolute;
  top: 20%;
  margin: 0 auto;
  left: 30%;
  width: 40%;
}
.displayText {
  color: white;
  overflow: hidden;
}
.close-btn-Frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /*80px;*/
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid #fff;
}
.close-btn {
  width: 40px;
  height: 2px;
  /* background: #fff;*/
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.close-btn::before {
  transform: translateY(-8px);

  transform: rotate(45deg);
}
.close-btn::after {
  transform: translateY(8px);
  transform: rotate(-45deg);
}

.displayBox {
  /* use this for box z-index: 100;  */
  position: relative;
  margin: 0 auto;
  height: 500px;
  padding: 20px;
  background: rgb(34, 34, 34); /* for IE */
  background: rgba(34, 34, 34, 0.75);
}

.displayBox:before {
  filter: blur(4px);
}
